/* Overlay */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9999;
    overflow: auto;
}

/* Modal content */
.modal-content {
    background-color: #fff; /* White background */
    margin: 10% auto; /* Center the modal vertically */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Drop shadow */
    max-width: 600px; /* Limit the maximum width of the modal */
    width: 80%; /* Set width to a percentage for responsiveness */
}

/* Modal header and footer */
.modal-header,
.modal-footer {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc; /* Bottom border */
}

.modal-header .modal-title {
    margin: 0;
    font-size: 24px;
    color: #333;
}

/* Modal body */
.modal-body {
    padding: 20px;
}

/* Patient details */
.patient-details h2 {
    font-size: 24px;
    color: #007bff; /* Medical blue color */
    margin-bottom: 10px;
}

.heading-date {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.heading-status,
.attending-nurse {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

/* Close button */
.jb-modal-close{
    background-color: transparent;
  
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    transition: transform .3s;

}

.jb-modal-close:hover {
    color: red;
    transform: scale(1.1);
}

/* Strong text */
p strong {
    font-weight: 700;
}
